/*
Colors:
Dark Teal: #243F4D;
Teal: #0090AD;
blood orange: #EF3300;
offgreen: #7E9D9B;
lightoffgreen: #BCCBB8;
light gray: #DCDCDB;

fonts:
'Questrial', sans-serif; --primary
'Roboto', sans-serif;    --secondary
*/
/* general */
body {
  padding: 0;
  margin: 0;
  background-image: url("Images/Vorderrhein.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  font-family: 'Questrial', sans-serif;
  width: 70vw;
  background-color: #7E9D9B;
  border-radius: 2%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* header */
.banner {
  background-image: url("Images/Waiau.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 25vh;
  position: relative;
}

.heading{
  background-color: rgba(36, 63, 77, .3);
  height: 25vh;
  color:#fff;

}

.banner #title {
  margin: 0;
  position: absolute;
  bottom: .75em;
  left: 0;
  padding: .5em;

}

.banner #description {
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1em;
}

/* form */
form {
  padding: 1.5em ;
  color: #fff;
}

input, #year{
  margin: 1em .1em;
}

#name, #email, #studentId{
  width:50%;
  padding: .5em;
  border-radius: .5em;
}

#year{
  width: 53%;
  padding: .5em;
  border-radius: .5em;
}

#submit{
  margin-top: 1em;
  padding: 1em;
  width: 25vw;
  background-color: #0090AD;
  color: #fff;
  border-color: #fff;
}

/* responsive */
@media screen and (max-width:850px) {
  main {
    font-family: 'Questrial', sans-serif;
    width: 100vw;
    background-color: #7E9D9B;
    border-radius: 2%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width:1500px) {
  main {
    font-family: 'Questrial', sans-serif;
    width: 50vw;
    background-color: #7E9D9B;
    border-radius: 2%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
